Example of result from parsing graph1.pas

Note: your version may have more progn operators; that is okay.

yyparse result =        0
Symbol table level 1
 94063631015344           d  CONST  typ    REAL  val  6.250000e-02
 94063631015696           s  CONST  typ INTEGER  val  32
 94063631016048           h  CONST  typ INTEGER  val  34
 94063631016400           c  CONST  typ    REAL  val  6.283180e+00
 94063631016752         lim  CONST  typ INTEGER  val  32
 94063631017360           x  VAR    1 typ    real  lvl  1  siz     8  off     0
 94063631017456           y  VAR    1 typ    real  lvl  1  siz     8  off     8
 94063631017936           i  VAR    0 typ integer  lvl  1  siz     4  off    16
 94063631018032           n  VAR    0 typ integer  lvl  1  siz     4  off    20
(program graph1 (progn output)
                (progn (:= i 0)
                       (label 1)
                       (if (<= i 32)
                           (progn (:= x (* 6.250000e-02
                                           (float i)))
                                  (:= y (* (funcall exp (- x))
                                           (funcall sin (* 6.283180e+00
                                                           x))))
                                  (:= n (fix (+ (funcall round (* 3.200000e+01
                                                                  y))
                                                3.400000e+01)))
                                  (progn (label 0)
                                         (funcall write ' ')
                                         (:= n (- n 1))
                                         (if (= n 0)
                                             (progn)
                                             (goto 0)))
                                  (funcall writeln '*')
                                  (:= i (+ i 1))
                                  (goto 1)))))






Your version may look like this, also okay:

(program graph1 (progn output)
         (progn (progn (:= i 0)
                       (label 1)
                       (if (<= i 32)
                           (progn (progn (:= x (* 6.250000e-02
                                                  (float i)))
                                         (:= y (* (funcall exp (- x))
                                                  (funcall sin (* 6.283180e+00
                                                                  x))))
                                         (:= n (fix (+ (funcall round
                                                                (* 3.200000e+01
                                                                   y))
                                                       3.400000e+01)))
                                         (progn (label 0)
                                                (progn (funcall write ' ')
                                                       (:= n (- n 1)))
                                                (if (= n 0)
                                                    (progn)
                                                    (goto 0)))
                                         (funcall writeln '*'))
                                  (:= i (+ i 1))
                                  (goto 1))))))




If you use graph1i.pas (which uses iround() instead of round() ):

(program graph1 (progn output)
                (progn (:= i 0)
                       (label 1)
                       (if (<= i 32)
                           (progn (:= x (* 6.250000e-02
                                           (float i)))
                                  (:= y (* (funcall exp (- x))
                                           (funcall sin (* 6.283180e+00
                                                           x))))
                                  (:= n (+ (funcall iround (* 3.200000e+01
                                                              y))
                                           34))
                                  (progn (label 0)
                                         (funcall write ' ')
                                         (:= n (- n 1))
                                         (if (= n 0)
                                             (progn)
                                             (goto 0)))
                                  (funcall writeln '*')
                                  (:= i (+ i 1))
                                  (goto 1)))))
