Started scanner test.
tokentype:  2  which:   19      program
tokentype:  3  value:            graph1
tokentype:  1  which:    4            (
tokentype:  3  value:            output
tokentype:  1  which:    5            )
tokentype:  1  which:    2            ;
tokentype:  2  which:    4        const
tokentype:  3  value:                 d
tokentype:  0  which:    6            =
tokentype:  5  type:     1 6.250000e-02
tokentype:  1  which:    2            ;
tokentype:  3  value:                 s
tokentype:  0  which:    6            =
tokentype:  5  type:     0           32
tokentype:  1  which:    2            ;
tokentype:  3  value:                 h
tokentype:  0  which:    6            =
tokentype:  5  type:     0           34
tokentype:  1  which:    2            ;
tokentype:  3  value:                 c
tokentype:  0  which:    6            =
tokentype:  5  type:     1 6.283180e+00
tokentype:  1  which:    2            ;
