yyparse result =        0
Symbol table level 1
 94497644249392     complex  TYPE   typ 94497644249296  lvl  1  siz    32  off     0
(RECORD (er real)
        (mi real)
        (myreal real))
 94497644250000           c  VAR    0 typ 94497644249296  lvl  1  siz    32  off     0
(RECORD (er real)
        (mi real)
        (myreal real))
 94497644250096           d  VAR    0 typ 94497644249296  lvl  1  siz    32  off    32
(RECORD (er real)
        (mi real)
        (myreal real))
(program graph1 (progn output)
                (progn (:= (aref c 0)
                           2.000000e+00)
                       (:= (aref c 8)
                           2.000000e+00)
                       (:= (aref d 16)
                           9.000000e+00)))
