yyparse result =        0
Symbol table level 1
 94273570299824           i  VAR    0 typ integer  lvl  1  siz     4  off     0
 94273570299920         sum  VAR    0 typ integer  lvl  1  siz     4  off     4
(program graph1 (progn output)
                (progn (progn (label 1)
                              (:= i 0))
                       (progn (label 0)
                              (:= sum (+ i 1)))
                       (if (< sum 3)
                           (goto 0))))
