yyparse result =        0
Symbol table level 1
 94505838997584     complex  TYPE   typ 94505838997488  lvl  1  siz    16  off     0
(RECORD (re real)
        (im real))
 94505838998384         red  CONST  typ INTEGER  val  0
 94505838998480       white  CONST  typ INTEGER  val  1
 94505838998576        blue  CONST  typ INTEGER  val  2
 94505838998768       color  TYPE   typ 94505838998672  lvl  1  siz     4  off     0
  0 ..   2
 94505838999184      person  TYPE   typ 94505839001488  lvl  1  siz    48  off     0
(RECORD (age integer)
        (friend (^ person))
        (location (RECORD (re real)
                          (im real)))
        (favorite   0 ..   2)
        (salary real))
 94505838999376          pp  TYPE   typ 94505838999280  lvl  1  siz     8  off     0
(^ person)
 94505839001968        john  VAR    4 typ 94505838999280  lvl  1  siz     8  off     0
(^ person)
(program graph1 (progn output)
                (progn (:= (aref (^ john)
                                 16)
                           3.000000e+00)
                       (:= (aref (^ john)
                                 24)
                           4.500000e+00)))
