yyparse result =        0
Symbol table level 1
 94535436639952         ptr  VAR    4 typ 94535436639856  lvl  1  siz     8  off     0
(^ real)
 94535436640048        john  VAR    4 typ 94535436639856  lvl  1  siz     8  off     8
(^ real)
(program graph1 (progn output)
                (progn (:= ptr john)))
# ---------------- Beginning of Generated Code --------------------
        .file   "foo"
        .text
        .globl graph1
        .type   graph1, @function
graph1:
.LFB0:
	.cfi_startproc
	pushq	%rbp              # save base pointer on stack
	.cfi_def_cfa_offset 16
	movq	%rsp, %rbp        # move stack pointer to base pointer
	.cfi_offset 6, -16
	.cfi_def_cfa_register 6
        subq	$32, %rsp 	  # make space for this stack frame
	movq	%rbx, %r9        # save %rbx (callee-saved) in %r9
# ------------------------- begin Your code -----------------------------
	movq	-24(%rbp),%rax     	#  john -> %rax
	movq	%rax,-32(%rbp)     	#  %rax -> ptr
# ----------------------- begin Epilogue code ---------------------------
	movq	%r9, %rbx        # restore %rbx (callee-saved) from %r9
        leave
        ret
        .cfi_endproc
.LFE0:
        .size   graph1, .-graph1
# ----------------- end Epilogue; Literal data follows ------------------
        .section        .rodata

        .ident  "CS 375 Compiler - Spring 2022"
